In [1]:
import pandas as pd
import sqlite3

# OBJECTIF

**ANALYSER ET NETOYER LES DONNEES POUR APPRENDRE LA DATA SCIENCE** 

---

#### **I - ANALYSE GLOBALE DE TOUTES LES COLONNES.**

In [2]:
data = pd.read_csv('ressources/academy_awards.csv',encoding = "ISO-8859-1")
data

,Year,Category,Nominee,Additional Info,Won?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO,NaN,NaN,NaN,NaN,NaN,NaN
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO,NaN,NaN,NaN,NaN,NaN,NaN
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO,NaN,NaN,NaN,NaN,NaN,NaN
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES,NaN,NaN,NaN,NaN,NaN,NaN
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
10132,1927/28 (1st),Engineering Effects (archaic category),Roy Pomeroy,Wings,YES,NaN,NaN,NaN,NaN,NaN,NaN
10133,1927/28 (1st),Engineering Effects (archaic category),Nugent Slaughter [NOTE: Though no specific tit...,NaN,NO,NaN,NaN,NaN,NaN,NaN,NaN
10134,1927/28 (1st),Unique and Artistic Picture (archaic category),Fox,Sunrise,YES,NaN,NaN,NaN,NaN,NaN,NaN
10135,1927/28 (1st),Unique and Artistic Picture (archaic category),Metro-Goldwyn-Mayer,The Crowd,NO,NaN,NaN,NaN,NaN,NaN,NaN
10136,1927/28 (1st),Unique and Artistic Picture (archaic category),Paramount Famous Lasky,Chang,NO,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10137 entries, 0 to 10136
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             10137 non-null  object
 1   Category         10137 non-null  object
 2   Nominee          10137 non-null  object
 3   Additional Info  9011 non-null   object
 4   Won?             10137 non-null  object
 5   Unnamed: 5       11 non-null     object
 6   Unnamed: 6       12 non-null     object
 7   Unnamed: 7       3 non-null      object
 8   Unnamed: 8       2 non-null      object
 9   Unnamed: 9       1 non-null      object
 10  Unnamed: 10      1 non-null      object
dtypes: object(11)
memory usage: 871.3+ KB

In [4]:
data.shape

(10137, 11)

In [5]:
data["Unnamed: 5"].value_counts()

Unnamed: 5
*                                                                                                               7
 resilience                                                                                                     1
 D.B. "Don" Keele and Mark E. Engebretson has resulted in the over 20-year dominance of constant-directivity    1
 error-prone measurements on sets. [Digital Imaging Technology]"                                                1
 discoverer of stars                                                                                            1
Name: count, dtype: int64

In [6]:
data["Unnamed: 6"].value_counts()

Unnamed: 6
*                                                                   9
 flexibility and water resistance                                   1
 direct radiator bass style cinema loudspeaker systems. [Sound]"    1
 sympathetic                                                        1
Name: count, dtype: int64

In [7]:
data["Unnamed: 7"].value_counts()

Unnamed: 7
 while requiring no dangerous solvents. [Systems]"    1
*                                                     1
 kindly                                               1
Name: count, dtype: int64

In [8]:
data["Unnamed: 8"].value_counts()

Unnamed: 8
*                                                 1
 understanding comedy genius - Mack Sennett.""    1
Name: count, dtype: int64

In [9]:
data["Unnamed: 9"].value_counts()

Unnamed: 9
*    1
Name: count, dtype: int64

In [10]:
data["Unnamed: 10"].value_counts()

Unnamed: 10
*    1
Name: count, dtype: int64

#### CONCLUSION 1 : la colonnes won? contient des donnees incohérentes et les colonnes unnamed ne contiennent rien d'important .

#### **II - SUPPRIMONS LES COLONNES UNNAMED.**

In [11]:
data.drop(['Unnamed: 5','Unnamed: 6',"Unnamed: 7","Unnamed: 8",'Unnamed: 9','Unnamed: 10'], axis=1, inplace=True)
data

,Year,Category,Nominee,Additional Info,Won?
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},NO
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},NO
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},NO
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},YES
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},NO
...,...,...,...,...,...
10132,1927/28 (1st),Engineering Effects (archaic category),Roy Pomeroy,Wings,YES
10133,1927/28 (1st),Engineering Effects (archaic category),Nugent Slaughter [NOTE: Though no specific tit...,NaN,NO
10134,1927/28 (1st),Unique and Artistic Picture (archaic category),Fox,Sunrise,YES
10135,1927/28 (1st),Unique and Artistic Picture (archaic category),Metro-Goldwyn-Mayer,The Crowd,NO
10136,1927/28 (1st),Unique and Artistic Picture (archaic category),Paramount Famous Lasky,Chang,NO

#### **III - REMPLAÇONS LES VALEURS DE LA COLONNE WON? PAR DES 1 ET 0.**

In [12]:
#RENOMMONS LA
data.rename(columns={"Won?": "Won"}, inplace=True)

In [13]:
remplacements = {'NO':0, "YES":1, 'nan':'NAN'}
data['Won'] = data['Won'].map(remplacements)
data

,Year,Category,Nominee,Additional Info,Won
0,2010 (83rd),Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0
1,2010 (83rd),Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0
2,2010 (83rd),Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0
3,2010 (83rd),Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1
4,2010 (83rd),Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0
...,...,...,...,...,...
10132,1927/28 (1st),Engineering Effects (archaic category),Roy Pomeroy,Wings,1
10133,1927/28 (1st),Engineering Effects (archaic category),Nugent Slaughter [NOTE: Though no specific tit...,NaN,0
10134,1927/28 (1st),Unique and Artistic Picture (archaic category),Fox,Sunrise,1
10135,1927/28 (1st),Unique and Artistic Picture (archaic category),Metro-Goldwyn-Mayer,The Crowd,0
10136,1927/28 (1st),Unique and Artistic Picture (archaic category),Paramount Famous Lasky,Chang,0

#### **IV - NETOYONS LA COLONNE YEAR.**
#### OBJECTIF
**- Creer une colonne contenant chacune des editions de la cérémonie.**

**- Créer une colonne contenant des annees de remise de prix et supprimer la colonne year.**

In [14]:
Years = data['Year'].str[0:4]
edition = data['Year'].str[:-3].str.split("(", expand=True)[1].astype(int)

In [15]:
data['Years'] = Years
data['Edition'] = edition
data['Years'] = data['Years'].astype(int)
data.drop(['Year'], axis=1, inplace=True)
data

,Category,Nominee,Additional Info,Won,Years,Edition
0,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,2010,83
1,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,2010,83
2,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,2010,83
3,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,2010,83
4,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,2010,83
...,...,...,...,...,...,...
10132,Engineering Effects (archaic category),Roy Pomeroy,Wings,1,1927,1
10133,Engineering Effects (archaic category),Nugent Slaughter [NOTE: Though no specific tit...,NaN,0,1927,1
10134,Unique and Artistic Picture (archaic category),Fox,Sunrise,1,1927,1
10135,Unique and Artistic Picture (archaic category),Metro-Goldwyn-Mayer,The Crowd,0,1927,1
10136,Unique and Artistic Picture (archaic category),Paramount Famous Lasky,Chang,0,1927,1

#### **V - NETOYONS LA COLONNE Additional Info.**
#### OBJECTIF
**- Creer une colonne contenant les film nominés .**

**- Créer une colonne contenant les personnages principaux de film et supprimer la colonne Additional Info.**

In [16]:
split = data['Additional Info'].str.replace("'}", '').str.split("{'",expand=True)
split

                         0                1     2     3
0                Biutiful             Uxbal  None  None
1               True Grit   Rooster Cogburn  None  None
2      The Social Network   Mark Zuckerberg  None  None
3       The King's Speech    King George VI  None  None
4               127 Hours      Aron Ralston  None  None
...                    ...              ...   ...   ...
10132                Wings             None  None  None
10133                  NaN              NaN   NaN   NaN
10134              Sunrise             None  None  None
10135            The Crowd             None  None  None
10136                Chang             None  None  None

[10137 rows x 4 columns]

In [17]:
data['Movie'] = split[0]
data

,Category,Nominee,Additional Info,Won,Years,Edition,Movie
0,Actor -- Leading Role,Javier Bardem,Biutiful {'Uxbal'},0,2010,83,Biutiful
1,Actor -- Leading Role,Jeff Bridges,True Grit {'Rooster Cogburn'},0,2010,83,True Grit
2,Actor -- Leading Role,Jesse Eisenberg,The Social Network {'Mark Zuckerberg'},0,2010,83,The Social Network
3,Actor -- Leading Role,Colin Firth,The King's Speech {'King George VI'},1,2010,83,The King's Speech
4,Actor -- Leading Role,James Franco,127 Hours {'Aron Ralston'},0,2010,83,127 Hours
...,...,...,...,...,...,...,...
10132,Engineering Effects (archaic category),Roy Pomeroy,Wings,1,1927,1,Wings
10133,Engineering Effects (archaic category),Nugent Slaughter [NOTE: Though no specific tit...,NaN,0,1927,1,NaN
10134,Unique and Artistic Picture (archaic category),Fox,Sunrise,1,1927,1,Sunrise
10135,Unique and Artistic Picture (archaic category),Metro-Goldwyn-Mayer,The Crowd,0,1927,1,The Crowd
10136,Unique and Artistic Picture (archaic category),Paramount Famous Lasky,Chang,0,1927,1,Chang

In [18]:
data['personnage'] = split[1]
data.drop(['Additional Info'], axis=1, inplace=True)
data

,Category,Nominee,Won,Years,Edition,Movie,personnage
0,Actor -- Leading Role,Javier Bardem,0,2010,83,Biutiful,Uxbal
1,Actor -- Leading Role,Jeff Bridges,0,2010,83,True Grit,Rooster Cogburn
2,Actor -- Leading Role,Jesse Eisenberg,0,2010,83,The Social Network,Mark Zuckerberg
3,Actor -- Leading Role,Colin Firth,1,2010,83,The King's Speech,King George VI
4,Actor -- Leading Role,James Franco,0,2010,83,127 Hours,Aron Ralston
...,...,...,...,...,...,...,...
10132,Engineering Effects (archaic category),Roy Pomeroy,1,1927,1,Wings,None
10133,Engineering Effects (archaic category),Nugent Slaughter [NOTE: Though no specific tit...,0,1927,1,NaN,None
10134,Unique and Artistic Picture (archaic category),Fox,1,1927,1,Sunrise,None
10135,Unique and Artistic Picture (archaic category),Metro-Goldwyn-Mayer,0,1927,1,The Crowd,None
10136,Unique and Artistic Picture (archaic category),Paramount Famous Lasky,0,1927,1,Chang,None

#### **VI - IDENTIFIONS ET SUPPRIMONS LES DOUBLONS.**

In [19]:
data[data.duplicated()]

,Category,Nominee,Won,Years,Edition,Movie,personnage
209,Music (Song),The Princess and the Frog,0,2009,82,Music and Lyric by Randy Newman,None
466,Music (Song),Enchanted,0,2007,80,Music by Alan Menken; Lyric by Stephen Schwartz,None
467,Music (Song),Enchanted,0,2007,80,Music by Alan Menken; Lyric by Stephen Schwartz,None
2178,Music (Song),The Lion King,0,1994,67,Music by Elton John; Lyric by Tim Rice,None
2561,Music (Song),Beauty and the Beast,0,1991,64,Music by Alan Menken; Lyric by Howard Ashman,None
3534,Music (Song),Yentl,0,1983,56,Music by Michel Legrand; Lyric by Alan Bergman...,None
9066,Music (Scoring),Our Town,0,1940,13,Aaron Copland,None
9223,Music (Scoring),Of Mice and Men,0,1939,12,Aaron Copland,None
9374,Music (Scoring),The Young in Heart,0,1938,11,Franz Waxman,None
9671,Writing,The Story of Louis Pasteur,1,1936,9,"Pierre Collings, Sheridan Gibney",None

In [20]:
data.drop_duplicates(inplace=True)
data.duplicated().sum()

0

#### **VII - ANALYSE DES VALEURS MANQUANTES.**

In [21]:
#l'objectif est d'afficher le pourcentage par colonne de valeurs manquantes
(data.isna().sum()/len(data)*100).sort_values(ascending = False)

personnage    84.516639
Movie         11.118791
Won            0.138244
Category       0.000000
Nominee        0.000000
Years          0.000000
Edition        0.000000
dtype: float64

#### **VIII - EXPORTONS LE FICHIER EN CSV et SQL.**

In [22]:
#EFFECTUONS UN TRI SUR LES DIFFERENTES EDITIONS
Clean_academy_award = data[['Edition','Years', 'Movie', 'personnage','Nominee','Category','Won']].sort_values("Edition")
Clean_academy_award

,Edition,Years,Movie,personnage,Nominee,Category,Won
10136,1,1927,Chang,None,Paramount Famous Lasky,Unique and Artistic Picture (archaic category),0
10113,1,1927,7th Heaven,None,Frank Borzage,Directing,1
10112,1,1927,Speedy,None,Ted Wilde,Directing,0
10111,1,1927,Two Arabian Knights,None,Lewis Milestone,Directing,1
10110,1,1927,Sunrise,None,Karl Struss,Cinematography,1
...,...,...,...,...,...,...,...
88,83,2010,Shaun Tan and Andrew Ruhemann,None,The Lost Thing,Short Film (Animated),1
87,83,2010,Geefwee Boedoe,None,Let's Pollute,Short Film (Animated),0
86,83,2010,Jakob Schuh and Max Lang,None,The Gruffalo,Short Film (Animated),0
92,83,2010,Luke Matheny,None,God of Love,Short Film (Live Action),1
0,83,2010,Biutiful,Uxbal,Javier Bardem,Actor -- Leading Role,0

In [23]:
Clean_academy_award.to_csv("ressources/Clean_academy_award.csv", index=False)

In [24]:
con = sqlite3.connect("ressources/Clean_academy_award.db")
Clean_academy_award.to_sql("Clean_academy_award",con , index=False, if_exists = "replace")

10127